<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://timanh.com/assets/timanhlogo.0e3ef396.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tìm Ảnh</title>
    <meta property="og:url" content="https://timanh.com">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Những khoảnh khắc">
    <meta property="og:image" content="https://timanh.com/assets/anhnenmoi.jpg">
    <meta property="og:description" content="Tìm lại những khoảnh khắc rực rỡ nhất">

    <!-- <link rel="stylesheet" href="https://yourbib-space.sgp1.cdn.digitaloceanspaces.com/assets/ecopark/index.7b940051.css"> -->
    <!-- <script type="module" crossorigin src="/assets/index.ef6eaec1.js"></script>
    <link rel="stylesheet" href="/assets/index.e15321e0.css"> -->

    <!-- <script type="module" crossorigin src="https://localhost:44371/js/index.b989300b1.js"></script>
    <link rel="stylesheet" href="https://localhost:44371/css/index.909fe5291.css"> -->
    

    <!-- <link rel="stylesheet" href="https://yourbib-space.sgp1.cdn.digitaloceanspaces.com/assets/ecopark/index.909fe5291.css"> 
    <script type="module" crossorigin src="https://yourbib-space.sgp1.cdn.digitaloceanspaces.com/assets/ecopark/index.b989300b1.js"></script>
   -->
  </head>
  <body>
    <html>
<head>

</script>
</head>
<body>
  <div class="container-fluid" style="height:1200px">
      <div class="row" style="height:1200px">
        <iframe id="content" scrolling="no" src="https://timanh.com/races/42/THM2023" frameborder="0"
        style="position: relative; height: 100%; width: 100%;"></div>
      </div>
  </div>
   
  <script type="text/javascript">
    if ('undefined' == typeof window.jQuery) {
      addJquery();
    } else {
       if (typeof $ == 'function'){
         $("#content").attr("src","https://timanh.com/races/42/THM2023");
       }
       else if (typeof $ == 'function'){
           $("#content").attr("src","https://timanh.com/races/42/THM2023");  
       }
    }

  //   $(document).ready(function(){
  //   $("#content").attr("src","https://timanh.com/races/42/THM2023");
  //   //jQuery("#content").attr("src","https://timanh.com/races/42/THM2023");
  // })
</script>
</body>
</html>
    
  </body>
  <script> 
    function onload() {
     const script = document.createElement('script');
     script.onload = () => { console.log('script loaded!'); };
     script.src = "https://yourbib-space.sgp1.cdn.digitaloceanspaces.com/assets/ecopark/index.1b580881.js?fbclid=IwAR1kXn1ifntumkJeZAJlKmE3qeSJc4RWss-1ortpE6akTkDOoEju3m34ifU";
     script.type="module";
     document.head.append(script);
    }

    function addJquery(){
      const scriptTag = document.createElement('script');
      scriptTag.src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js";
      document.body.appendChild( scriptTag );
      scriptTag.addEventListener('load', () => {
        $("#content").attr("src","https://timanh.com/races/42/THM2023");
      })
    }
    </script>
</html>
