<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Moment</title>
    <script type="module" crossorigin src="https://timanh-cdn.s3.ap-southeast-1.amazonaws.com/embeded-script/smart-finder-widget.js"></script>
    <link rel="stylesheet" href="https://timanh-cdn.s3.ap-southeast-1.amazonaws.com/embeded-script/styles.css" />
</head>
  

  <body>
    <div class="fm-container">
      <smart-finder-widget
        user="hue-running"
        gallery="su-kien-chay-vi-nhung-ngoi-truong-xanh"
      ></smart-finder-widget>
    </div>
  </body>
</html>
