<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Moment</title>


    <script type="module" crossorigin src="https://flexmoment-cdn.s3.ap-southeast-1.amazonaws.com/embeded-script/smart-finder-widget.js?time=3"></script>
    <link rel="stylesheet" href="https://flexmoment-cdn.s3.ap-southeast-1.amazonaws.com/embeded-script/styles.css?time=3" />  



    <!-- <script type="module" crossorigin src="../dist/smart-finder-widget.js?time=2"></script>
    <link rel="stylesheet" href="../dist/styles.css?time=2" />  -->
</head>
  

  <body>

       <!-- <div class="fm-container">
        <smart-finder-widget
          user="hue-running"
          gallery="phu-loc-jogging-2024"
        ></smart-finder-widget>
      </div> -->
    
    
       <div class="fm-container">
        <smart-finder-widget
          user="kim-lien-photographer"
          gallery="mobifone-da-nang-tri-an"
        ></smart-finder-widget>
      </div> 
     <!-- <div class="fm-container">
      <smart-finder-widget
        user="events"
        gallery="ly-thai-to-running-2023"
      ></smart-finder-widget>
    </div>  -->
    
  </body>
</html>
